<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact Us</title>

        <!--Links-->
        <link rel="apple-touch-icon" sizes="180x180" href="/Split-images/App-icon.png",>
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/Split-images/App-icon.png",>

        <link rel="stylesheet" href="/css/Split.css" type="text/css">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XXXXXXXXXX');
        </script>
    </head>

    <body>
        <div class="content-landing">
            <div class="top-of-customer-landing">
            </div>
            <div class="Contact-us">
                <h1>Contact Us</h1>
                <p>If you have any questions, feature requests, bugs, or need help with anything pertaining to Split, please do not hestitate to reach out to us.</p><br>

                <p><strong>talyor@splitloyalty.com</strong></p>
            </div>



            <div class="centered-text">
                <p>
                    <a class="user-agreement-text" href="/User-agreement" target="_blank">User Agreement</a>
                    |
                    <a class="privacy-policy-text" href="/Privacy-policy" target="_blank">Privacy Policy</a>
                </p>
            </div>
        </div>

    </div>
    </body>
</html>
