<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/Split.css" type="text/css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-05YTF1Y41D"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-05YTF1Y41D');
    </script>

</head>
<body>
    <div class="header-container">
        <img src="/Split-images/Rocket-man.png" alt="Logo" class="header-image">
        <div class="header-text-container">
            <h1 class="header-text">Processing</h1>
        </div>
    </div>

    <!-- Payment processing message -->
    <div class="processing-container">
        <h1>Your Payment is being processed.</h1>
        <p>Check your account deposit history for updates.</p>
    </div>

    <script>


    </script>


</body>
</html>
