<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <!-- Links -->
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/Split.css" type="text/css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-05YTF1Y41D"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-05YTF1Y41D');
    </script>

</head>
<body>
    <div class="header-container">
        <img src="/Split-images/Rocket-man.png" alt="Logo" class="header-image">
        <div class="header-text-container">
            <h1 class="header-text">Success</h1>
        </div>
    </div>

    <!-- Payment successful message -->
    <div class="success-container">
        <h1>Your Payment was succesful!</h1>
            <p>See your transactions for specifics.</p>
    </div>


        <button class="success-button" onclick="redirectToCustomerIndex()">Ok</button>


    <!-- JavaScript to handle button click and redirect -->
    <script>
        function redirectToCustomerIndex() {
            window.location.href = '/Customer-index';
        }
    </script>
</body>
</html>
